# Environment & Dependencies
venv/
__pycache__/
*.pyc

# Local secrets & Database scripts with credentials
.streamlit/secrets.toml
db_setup.py
db_*.py

#postgresql://postgres:Nandha191099@db.nucyidbopzoovjdtrcyi.supabase.co:5432/postgres